.scrollable-tabs-container {
  font-family: "Roboto", sans-serif;
  background: #F5F5F540;
  width: 90%; /* 1280px */
  margin: 1rem auto; /* 16px */
  border-radius: 0.5rem; /* 4px */
  overflow: hidden;
  position: relative;
  font-family: "Yekan";
  

}

.scrollable-tabs-container svg {
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  cursor: pointer;
  color: #0F172A;
  border-radius: 50%;
  pointer-events: auto;
}

.scrollable-tabs-container ul {
  display: flex;
  gap: 1rem; /* 16px */
  padding: 0.75rem 1.5rem; /* 12px 24px */
  margin: 0;
  list-style: none;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  direction: rtl;
  margin-right: 2rem;
  margin-left: 2rem;
}

.scrollable-tabs-container ul.dragging a {
  pointer-events: none;
}

.scrollable-tabs-container ul.dragging {
  scroll-behavior: auto;
}

.scrollable-tabs-container ul::-webkit-scrollbar {
  display: none;
}

.scrollable-tabs-container a {
  color: #0F172A;
  text-decoration: none;
  padding: 0.25rem 1.5rem; /* 4px 24px */
  display: inline-block;
  border-radius: 0.25rem; /* 4px */
  user-select: none;
  white-space: nowrap;
  font-size: 1.125rem;
  font-weight:400 ;
  
}

.scrollable-tabs-container a:hover {
  background-color: rgb(221, 221, 221);
  
}

.scrollable-tabs-container .right-arrow,
.scrollable-tabs-container .left-arrow {
  position: absolute;
  height: 100%;
  width: 2rem; /* 100px */
  top: 0;
  display: flex;
  align-items: center;
   /* 10px */
  pointer-events: auto;
  color: #0F172A;
  transition: color 0.3s ease;
}

.scrollable-tabs-container .right-arrow.active,
.scrollable-tabs-container .left-arrow.active {
  display: flex;
}

.scrollable-tabs-container .right-arrow {
  right: 0;
  background: linear-gradient(to left, #F5F5F540 50%, transparent);
  justify-content: flex-end;
  transition: color 0.3s ease;
  
 
}
.scrollable-tabs-container .right-arrow:hover{
  background-color: var(--dash-color);
  cursor: pointer;
  
}
.scrollable-tabs-container .left-arrow:hover{
  background-color: var(--dash-color);
  cursor: pointer;
}
.scrollable-tabs-container .left-arrow {
  transition: color 0.3s ease;
  left: 0;
  background: linear-gradient(to right, #F5F5F540 50%, transparent);
}
.scrollable-tabs-container button{
  font-size: 1.2rem;
}

.scrollable-tabs-container svg:hover {
  color: #0F172A;
}
@media(max-width: 768px){

  .scrollable-tabs-container{
    width: 100%;
  }
  .scrollable-tabs-container .right-arrow{
    display: none;
  }
  .scrollable-tabs-container .left-arrow{
    display: none;
  }
  .scrollable-tabs-container ul{
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0.2rem;
  }
  .scrollable-tabs-container {
    padding: 0.5rem 0.75rem;
    font-size: 1.2rem;
  }
  .left-arrow{
    display: none;
  }
  .scrollable-tabs-container .right-arrow.active, .scrollable-tabs-container .left-arrow.active {
    display: none;
}
  .scrollable-tabs-container{
    margin-top: 0;
    
  }
}