.spectag_container {
    height: auto;
    background-color: #c9c9c9;
    border-radius: 1.563rem;
    font-size: 1rem;
    color: #1E293B;
    font-weight: 400;
    padding:  0  20px;
    align-items: center;
    text-align: center;
    height: 2.375rem;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
  }