.inf-item-section{
    display: flex;
    padding-right: 0.5rem;
    padding-left: 0.8rem;
    direction: rtl;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 500;
    gap: 0.4rem;
}

.inf-item-section p{
    margin: 0;
}
.inf-item-icon{
    

}
.inf-item-title{
    color: #3A8EEF;
    
    
}

.inf-item-information{
    margin-right: 0.3rem;
}