.article-search-container {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.article-search-title-search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.article-search-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.article-search-bar-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.article-search-input {
  flex: 1;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

.article-search-input:focus {
  outline: none;
  border-color: #007BFF;
}

.article-search-button {
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.article-search-button:hover {
  background-color: #0056b3;
}

.article-search-cards-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.article-search-card-wrapper {
  cursor: pointer;
}

.article-search-show-more-container {
  text-align: center;
  margin-top: 20px;
}

.article-search-show-more-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.article-search-show-more-button:hover {
  background-color: #0056b3;
}
