.video-mentor-table {
    width: 95%;
    overflow-x: auto; /* Ensures horizontal scroll on smaller screens */
    font-family: "Yekan";
    margin-top: 2rem;
}
  
.video-mentor-responsive-table {
    width: 100%;
    border-collapse: collapse; /* Removes default table borders */
}
  
.video-mentor-responsive-table th,
.video-mentor-responsive-table td {
    padding: 0.5rem 1rem;
    text-align: center; /* Centers text horizontally */
    vertical-align: middle; /* Centers content vertically */
}
  
.video-mentor-responsive-table th {
    background-color: #2C71C6; /* Light background for headers */
    color: white;
    font-weight: 400;
}
  
.video-mentor-responsive-table td {
    color: #757575;
    font-weight: 400;
}
  
.video-mentor-download-button {
    background-color: #3A8EEF; /* Example button styling */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.video-mentor-download-button:hover {
    background-color: #45a049; /* Darker button on hover */
}

.video-mentor-download-button {
    display: inline-block;
    padding: 8px 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .video-mentor-download-button:hover {
    background-color: #0056b3;
  }
  
  
/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .responsive-table th,
    .responsive-table td {
      font-size: 0.9rem;
      padding: 8px;
    }
  
    .download-button {
      padding: 4px 8px;
    }
}
