.file-upload-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border: 1px solid #A3A5AD;
  }
  
  .file-name-input {
    width: 75%;
    height: 2.078rem;
    border:none;
    padding-right: 1.25rem;
    direction: rtl; /* Ensures placeholder is on the right for RTL languages */
    font-family: inherit;
  }

  .file-name-input:focus{
    outline: none;
  }
  
  .file-upload-button {
    
    padding: 1rem;
    color: #F29E3A;
    border: none;
   
    cursor: pointer;
  }
  
  .file-upload-button:hover{
    background: none;
  }
  