.comment-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    direction: rtl;
    background-color: #F1F5F9;
    padding: 1rem; /* Added padding for better spacing on smaller screens */
    
  }
  
  .comment-title {
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.5rem; /* Adjusted margin for better spacing */
  }
  
  .comment-explain {
    font-size: 1.375rem;
    text-align: center;
    width: 80%;
    font-weight: 400;
    margin-bottom: 1rem; /* Adjusted margin for better spacing */
  }
  
  .comment-record-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Space between records */
    justify-content: center; /* Center align items */
    width: 100%; /* Full width for better responsiveness */
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  /* iPad Responsive Styles */
@media (max-width: 1024px) and (min-width: 769px) {
  .comment-title {
    font-size: 2rem;
  }
  .comment-explain {
    font-size: 1.2rem;
    width: 85%;
  }
  .comment-record-container {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    height: auto;
  }
}

@media (max-width: 768px) {
    .comment-title {
      font-size: 1.75rem; /* Smaller font size for smaller screens */
    }
  
    .comment-explain {
      font-size: 1.125rem; /* Smaller font size for smaller screens */
      width: 90%; /* Make it more flexible */
    }
  
    .comment-record-container {
      flex-direction: column; /* Stack items vertically on smaller screens */
      align-items: center;
      gap: 1.5rem; /* Increase gap for better spacing */
      height: auto; /* Allow the height to adjust based on content */
    }
  }
  
  @media (max-width: 480px) {
    .comment-section{
      padding: 0;
    }

    .comment-title {
      font-size: 1.5rem; /* Further reduce font size on very small screens */
    }
  
    .comment-explain {
      font-size: 1rem; /* Further reduce font size on very small screens */
      width: 100%; /* Make it full width */
    }
  
    .comment-record-container {
      gap: 1rem; /* Adjust the gap for better spacing on small screens */
    }
  }
  